{% extends "layouts/base.html" %}

{% block content %}

<h1>About us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur fuga est nemo, laborum et modi ipsum deserunt soluta sequi qui fugit, repellendus deleniti laudantium dolorum tenetur vero saepe facere sit vel vitae exercitationem. Reiciendis ex pariatur dolorum. Cumque reiciendis sint quibusdam delectus accusamus similique a blanditiis in deserunt dignissimos, itaque officiis debitis optio atque aliquid aspernatur perspiciatis id. Corrupti doloribus cum eligendi autem odit possimus aperiam explicabo provident, laudantium id ipsum debitis sunt natus quasi asperiores qui velit tempora excepturi, sint maxime commodi quibusdam quisquam, enim assumenda. Nemo molestiae nam a dolorem beatae vel mollitia quaerat. Quisquam fugiat illo expedita.</p>
<p>Website create by {{username}}</p>

{% endblock %}